<div class="absolute w-full flex justify-center z-10">
    <div class="fixed bg-white w-3/5 h-20 mt-2 rounded-[50px] flex justify-center items-center opacity-95">
        <a href="" class="text-2xl underline px-6 py-3">Envasion.io</a>
        <a href="" class="p-4 text-xl tracking-wide">Product</a>
        <a href="" class="p-4 text-xl tracking-wide">Pricing</a>
        <a href="" class="p-4 text-xl tracking-wide">Use cases</a>
        <a href="" class="p-4 text-xl tracking-wide">Resouces</a>
        <a href="" class="p-4 text-lg tracking-wide">Log in</a>
        <a href="" class="px-6 py-3 text-lg bg-blue-500 text-white rounded-full tracking-wide">Start for free</a>
    </div>
</div>