.nav-large-button:hover,
.nav-small-button:hover {
    transform: rotate(-2deg);
}

.nav-bar-inner-up {
    position: fixed;
}

@media (max-width:768px) {
    .nav-links,
    .nav-large-button {
        display: none;
    }
}

@media(min-width:768px) {

    .nav-small-button,
    .nav-toggle-btn,
    .navbar-dropdown {
        display: none;
    }
}