
    <!-- side-bar -->
<app-sidebar></app-sidebar>


<nav >
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto pt-5 p-1">
      <div></div>
      <div class=" w-full md:block md:w-auto" id="navbar-default">
        <div class="relative w-10 h-10 overflow-hidden bg-gray-400 rounded-full cursor-pointer">
            <svg class="absolute w-12 h-12 text-gray-600 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
        </div>
      </div>
    </div>
  </nav>

  <!-- main-content -->
<div class="p-4 md:ml-64 bg-[#EEE9DF] h-full">
    <router-outlet></router-outlet>
</div>

