<div class="w-full bg-[#EEE9DF] sm:p-7">
    <div class="bg-[#FBF5F9] h-full sm:rounded-[40px] rounded-b-[40px] sm:p-10 p-5 sm:mt-5">
        <div class="w-full">
            <div class="pt-10 text-center">
                <h1 class="font-black sm:text-[120px] text-5xl m-10 text-[#2D2322]">
                    Your radically <br>
                    easy-to-use <br>
                    hiring tool</h1>
                <p class="p-align sm:text-2xl leading-9">
                    Don’t let stellar talent fall through the cracks of a messy hiring process. <br> Organize your
                    hiring in minutes with Homerun.
                </p>
                <div class="w-full justify-center sm:flex mt-10">
                    <button class="py-3 px-6 bg-[#EEEBE8] rounded-full m-1 text-lg"><span>Get demo</span></button>
                    <button class="py-3 px-6 bg-blue-500 rounded-full m-1 text-white text-lg"><span>Start hiring for
                            free</span></button>
                </div>
                <div class="flex justify-center w-full h-screen mt-10">
                    <div class="sm:w-4/5 w-full h-[90%] rounded-xl border-4 border-black">

                    </div>
                </div>
            </div>
            <div class="text-center">
                <h3 class="text-blue-500 heading text-2xl">services</h3>
                <h1 class="text-center sm:text-6xl text-5xl mt-10">Resources that help you <br>
                    hire with intention</h1>
                <p class="m-10">Not an expert? No worries! We’ve got guides and articles <br> packed with hiring best
                    practices and
                    tips.</p>
            </div>
            <div class="w-full flex overflow-hidden overflow-x-auto">
                <a href="" class="hover:mt-0 duration-200 mt-1 sm:m-3 m-1">
                    <div class="lg:w-[400px] sm:w-[300px] w-[220px] h-80 bg-black rounded-t-3xl hover:mb-px"></div>
                    <div class="lg:w-[400px] sm:w-[300px] w-[220px] h-52 bg-black rounded-b-3xl hover:mt-px"></div>
                </a>
                
                <a href="" class="hover:mt-0 duration-200 mt-1 sm:m-3 m-1">
                    <div class="lg:w-[400px] sm:w-[300px] w-[220px] h-80 bg-black rounded-t-3xl hover:mb-px"></div>
                    <div class="lg:w-[400px] sm:w-[300px] w-[220px] h-52 bg-black rounded-b-3xl hover:mt-px"></div>
                </a>
                
                <a href="" class="hover:mt-0 duration-200 mt-1 sm:m-3 m-1">
                    <div class="lg:w-[400px] sm:w-[300px] w-[220px] h-80 bg-black rounded-t-3xl hover:mb-px"></div>
                    <div class="lg:w-[400px] sm:w-[300px] w-[220px] h-52 bg-black rounded-b-3xl hover:mt-px"></div>
                </a>
                
                <a href="" class="hover:mt-0 duration-200 mt-1 sm:m-3 m-1">
                    <div class="lg:w-[400px] sm:w-[300px] w-[220px] h-80 bg-black rounded-t-3xl hover:mb-px"></div>
                    <div class="lg:w-[400px] sm:w-[300px] w-[220px] h-52 bg-black rounded-b-3xl hover:mt-px"></div>
                </a>
                
                <a href="" class="hover:mt-0 duration-200 mt-1 sm:m-3 m-1">
                    <div class="lg:w-[400px] sm:w-[300px] w-[220px] h-80 bg-black rounded-t-3xl hover:mb-px"></div>
                    <div class="lg:w-[400px] sm:w-[300px] w-[220px] h-52 bg-black rounded-b-3xl hover:mt-px"></div>
                </a>
                
            </div>
            <div class="mt-20 w-full text-center">
                <h3 class="text-blue-500 heading text-2xl">team members</h3>
                <h1 class="text-6xl m-5">Join the club</h1>
                <p>Homerun customers share a passion for nurturing company culture. <br> We all agree hiring can be more
                    meaningful and personal.</p>
            </div>
            <div class="w-full mt-10 flex overflow-hidden">
                <div class="bg-white shadow m-8 rounded-3xl inner-div">
                    <div class="w-[400px] h-96"></div>
                </div>
                <div class="bg-white shadow m-8 rounded-3xl inner-div">
                    <div class="w-[400px] h-96"></div>
                </div>
                <div class="bg-white shadow m-8 rounded-3xl inner-div">
                    <div class="w-[400px] h-96"></div>
                </div>
                <div class="bg-white shadow m-8 rounded-3xl inner-div">
                    <div class="w-[400px] h-96"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-[#2D2323] h-full rounded-[40px] p-10 mt-5">
        <div class="w-full">
            <div class="pt-10 text-center">
                <div class="w-full flex justify-center">
                    <img src="https://assets.website-files.com/58d684124f3644b01d649b26/645218b27f543022796d985d_footer-icons.png"
                        loading="lazy" width="Auto" sizes="(max-width: 479px) 100vw, 249.9921875px" alt=""
                        srcset="https://assets.website-files.com/58d684124f3644b01d649b26/645218b27f543022796d985d_footer-icons-p-500.png 500w, https://assets.website-files.com/58d684124f3644b01d649b26/645218b27f543022796d985d_footer-icons.png 587w"
                        class="cta-img">
                </div>
                <h1 class="font-black text-6xl m-10 text-white">
                    Start your <br>
                    free Homerun <br>
                    trial today</h1>
            </div>
            <div class="w-full text-center justify-center sm:flex mt-10">
                <button class="py-3 px-6 bg-[#EEEBE8] rounded-full m-1 sm:text-lg text-md"><span>Get demo</span></button>
                <button class="py-3 px-6 bg-blue-500 rounded-full m-1 text-white sm:text-lg text-md"><span>Start hiring for
                        free</span></button>
            </div>
        </div>
    </div>
</div>