<app-navbar (navLink)="onClickLink($event)"></app-navbar>
<div class="w-full bg-[#EEE9DF] sm:p-7">
    <div class="bg-[#FBF5F9] h-full sm:rounded-[40px] rounded-b-[40px] sm:p-10 p-5 sm:mt-5">
        <div class="w-full">
            <div class="pt-10 text-center">
                <h1 class="font-black sm:text-[110px] text-5xl mt-10 text-[#2D2322]">
                    creativity with <br>
                    AI-Driven <br></h1>
                <div class="relative w-full h-[80px] flex justify-center">
                    <h2 class="font-black sm:text-[100px] text-5xl mb-10 text-[#2D2322] text-center overflow-hidden absolute"
                        [ngClass]=" textShow ? 'text-animation-open':'text-animation-close'">{{heading}}</h2>
                    <h2 class="font-black sm:text-[100px] text-5xl mb-10 text-[#ece6da] text-center overflow-hidden absolute p-1 ms-1 md:ms-4 border-r-2 border-[#2D2322]"
                        [ngClass]=" textShow ? 'text-animation-open':'text-animation-close'">{{heading}}</h2>
                </div>

                <p class="p-align sm:text-2xl leading-9 mt-14">
                    Discover the ultimate content creation powerhouse in EnvasionAI.<br> Empower you to achieve 10X
                    faster results without platform-hopping hassle.
                </p>
                <div class="w-full justify-center sm:flex mt-10">
                    <button class="py-3 px-6 bg-[#ece6da] rounded-full m-1 text-black text-lg relative">
                        <span
                            class="absolute top-0 left-0 w-full h-full rounded-full opacity-50 filter blur-sm bg-gradient-to-br from-stone-300 to-[#ece6da]"></span>
                        <span
                            class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded-full shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm from-stone-300 to-[#ece6da]"></span>
                        <span
                            class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded-full bg-gradient-to-br to-stone-300 from-[#ece6da]"></span>
                        <span class="relative">Get demo</span>
                    </button>
                    <button class="py-3 px-6 bg-blue-500 rounded-full m-1 text-white text-lg relative" routerLink="login">
                        <span
                            class="absolute top-0 left-0 w-full h-full rounded-full opacity-50 filter blur-sm bg-gradient-to-br from-purple-600 to-blue-500"></span>
                        <span
                            class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded-full shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm from-purple-600 to-blue-500"></span>
                        <span
                            class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded-full bg-gradient-to-br to-purple-600 from-blue-500"></span>
                        <span class="relative">Start for free</span>
                    </button>
                </div>
                <div class="flex justify-center w-full h-screen mt-10">
                    <div class="sm:w-4/5 w-full h-[90%] rounded-xl border-4 border-black">

                    </div>
                </div>
            </div>
            <div class="text-center" id="Services">
                <h3 class="text-blue-500 heading text-2xl">services</h3>
                <h1 class="text-center sm:text-6xl text-5xl mt-10 text-[#2D2322]">Enhance your productivity <br>
                    refine your work</h1>
                <p class="m-10 text-[#2D2322]">Take advantage of our beginner-friendly features, <br> explore free trial
                    to jumpstart your progress.</p>
            </div>
            <div class="w-full flex overflow-hidden overflow-x-auto">
                <a href="" class="hover:mt-0 duration-200 mt-1 sm:m-3 m-1">
                    <div class="lg:w-[400px] sm:w-[300px] w-[220px] h-80 bg-black rounded-t-3xl hover:mb-px"></div>
                    <div class="lg:w-[400px] sm:w-[300px] w-[220px] h-52 bg-black rounded-b-3xl hover:mt-px"></div>
                </a>

                <a href="" class="hover:mt-0 duration-200 mt-1 sm:m-3 m-1">
                    <div class="lg:w-[400px] sm:w-[300px] w-[220px] h-80 bg-black rounded-t-3xl hover:mb-px"></div>
                    <div class="lg:w-[400px] sm:w-[300px] w-[220px] h-52 bg-black rounded-b-3xl hover:mt-px"></div>
                </a>

                <a href="" class="hover:mt-0 duration-200 mt-1 sm:m-3 m-1">
                    <div class="lg:w-[400px] sm:w-[300px] w-[220px] h-80 bg-black rounded-t-3xl hover:mb-px"></div>
                    <div class="lg:w-[400px] sm:w-[300px] w-[220px] h-52 bg-black rounded-b-3xl hover:mt-px"></div>
                </a>

                <a href="" class="hover:mt-0 duration-200 mt-1 sm:m-3 m-1">
                    <div class="lg:w-[400px] sm:w-[300px] w-[220px] h-80 bg-black rounded-t-3xl hover:mb-px"></div>
                    <div class="lg:w-[400px] sm:w-[300px] w-[220px] h-52 bg-black rounded-b-3xl hover:mt-px"></div>
                </a>

                <a href="" class="hover:mt-0 duration-200 mt-1 sm:m-3 m-1">
                    <div class="lg:w-[400px] sm:w-[300px] w-[220px] h-80 bg-black rounded-t-3xl hover:mb-px"></div>
                    <div class="lg:w-[400px] sm:w-[300px] w-[220px] h-52 bg-black rounded-b-3xl hover:mt-px"></div>
                </a>
            </div>
            <div class="mt-20 w-full text-center" id="About">
                <h3 class="text-blue-500 heading text-2xl">team members</h3>
                <h1 class="text-6xl m-5 text-[#2D2322]">Meet experts</h1>
                <p class="text-[#2D2322]">Stay connected to receive updates on upcoming features from our team. <br> 
                    Let your voice be heard, share your experiences with our team.</p>
            </div>
            <div class="w-full mt-10 flex overflow-hidden">
                <div class="bg-white shadow m-8 rounded-3xl inner-div">
                    <div class="w-[400px] h-96"></div>
                </div>
                <div class="bg-white shadow m-8 rounded-3xl inner-div">
                    <div class="w-[400px] h-96"></div>
                </div>
                <div class="bg-white shadow m-8 rounded-3xl inner-div">
                    <div class="w-[400px] h-96"></div>
                </div>
                <div class="bg-white shadow m-8 rounded-3xl inner-div">
                    <div class="w-[400px] h-96"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-[#2D2323] h-full rounded-[40px] p-10 mt-5">
        <div class="w-full">
            <div class="pt-10 text-center">
                <div class="w-full flex justify-center">
                    <img src="https://assets.website-files.com/58d684124f3644b01d649b26/645218b27f543022796d985d_footer-icons.png"
                        loading="lazy" width="Auto" sizes="(max-width: 479px) 100vw, 249.9921875px" alt=""
                        srcset="https://assets.website-files.com/58d684124f3644b01d649b26/645218b27f543022796d985d_footer-icons-p-500.png 500w, https://assets.website-files.com/58d684124f3644b01d649b26/645218b27f543022796d985d_footer-icons.png 587w"
                        class="cta-img">
                </div>
                <h1 class="font-black md:text-6xl text-5xl md:m-10 m-5 text-white text text-center">
                    Start your <br>
                    free trial<br>
                     today</h1>
            </div>
            <div class="w-full text-center justify-center sm:flex mt-10">
                <button class="py-3 px-6 bg-[#EEEBE8] rounded-full m-1 text-black text-lg relative">
                    <span
                        class="absolute top-0 left-0 w-full h-full rounded-full opacity-50 filter blur-sm bg-gradient-to-br from-stone-300 to-[#EEEBE8]"></span>
                    <span
                        class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded-full shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm from-stone-300 to-[#EEEBE8]"></span>
                    <span
                        class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded-full bg-gradient-to-br to-stone-300 from-[#EEEBE8]"></span>
                    <span class="relative">Get demo</span>
                </button>
                <button class="py-3 px-6 bg-blue-500 rounded-full m-1 text-white text-lg relative">
                    <span
                        class="absolute top-0 left-0 w-full h-full rounded-full opacity-50 filter blur-sm bg-gradient-to-br from-purple-600 to-blue-500"></span>
                    <span
                        class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded-full shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm from-purple-600 to-blue-500"></span>
                    <span
                        class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded-full bg-gradient-to-br to-purple-600 from-blue-500"></span>
                    <span class="relative">Start for free</span>
                </button>
            </div>
        </div>
    </div>
</div>