<div class="w-full bg-[#EEE9DF] p-7">
    <div class="bg-[#FBF5F9] h-screen rounded-[40px] p-10 mt-7">
        <div class="h-screen w-full" >
            <div class="pt-10 text-center">
                <h1 class="font-black text-9xl mb-10">
                    Your radically <br>
                    easy-to-use <br>
                    hiring tool</h1>
                    <p class="p-align text-2xl leading-9">
                        Don’t let stellar talent fall through the cracks of a messy hiring process. <br> Organize your hiring in minutes with Homerun.
                    </p>
            </div>
        </div>
    </div>
</div>