/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GT Walsheim';

    src:url('./assets/font/GT-Walsheim/GT-Walsheim-Black-Trial.woff2') format('woff2'),
}

@font-face {
    font-family: 'GT America';
    src: url('./assets/font/GT-America/GT-America-Compressed-Light-Trial.woff2') format('woff2');


}