/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GT Walsheim';
    src: url('../src/assets/Fonts/GTWalsheimProBold.ttf');
  }
@font-face {
    font-family: 'GT America';
    src: url('../src/assets/Fonts/GT America Regular.ttf');
  }

h1,h2,h3,h4,h5{
    font-family: GT Walsheim,sans-serif;
}

p{
    font-family: GT America,sans-serif;
    font-weight: 400;
}