

  
<div class="h-full md:py-8 lg:py-2 ">
  <div class="mb-8">
    <h2 class="text-2xl md:text-4xl font-bold text-center headFont">
      Explore the power of AI
    </h2>
    <p
      class="parFont text-muted-foreground font-light text-sm md:text-lg text-center"
    >
      Chat with the smartest AI - Experience the power of AI
    </p>
  </div>
  <div class="grid grid-cols-3 px-4 md:px-20 lg:px-32 gap-4">
    
    <div [routerLink]="['/app/conversations']"
      class="rounded-lg border bg-card text-card-foreground shadow-sm p-4 border-black/5 flex flex-col items-center justify-between hover:shadow-md transition cursor-pointer bg-white/60"
    >
      <div class="flex items-center gap-x-4">
        <div
          class="p-6 w-fit rounded-md bg-black/10 flex justify-center items-center"
        >
          <ng-icon size="36" name="heroChatBubbleLeft"></ng-icon>
        </div>
      </div>
      <div class="font-semibold text-sm mt-2">Conversation</div>

    </div>
    <div [routerLink]="['/app/image']"
      class="rounded-lg border bg-card text-card-foreground shadow-sm p-4 border-black/5 flex flex-col items-center justify-between hover:shadow-md transition cursor-pointer bg-white/60"
    >
      <div class="flex items-center gap-x-4">
        <div
          class="p-6 w-fit rounded-md bg-black/10 flex justify-center items-center"
        >
          <ng-icon size="36" name="heroPhoto"></ng-icon>
        </div>
      </div>
      <div class="font-semibold text-sm mt-2">Image Generation</div>

    </div>
    <div [routerLink]="['/app/video']"  
      class="rounded-lg border bg-card text-card-foreground shadow-sm p-4 border-black/5 flex flex-col items-center justify-between hover:shadow-md transition cursor-pointer bg-white/60"
    >
      <div class="flex items-center gap-x-4">
        <div
          class="p-6 w-fit rounded-md bg-black/10 flex justify-center items-center"
        >
          <ng-icon size="36" name="heroVideoCamera"></ng-icon>
        </div>
      </div>
      <div class="font-semibold text-sm mt-2">Video Generation</div>

    </div>
    <div [routerLink]="['/app/music']"  
      class="rounded-lg border bg-card text-card-foreground shadow-sm p-4 border-black/5 flex flex-col items-center justify-between hover:shadow-md transition cursor-pointer bg-white/60"
    >
      <div class="flex items-center gap-x-4">
        <div
          class="p-6 w-fit rounded-md bg-black/10 flex justify-center items-center"
        >
          <ng-icon size="36" name="heroMusicalNote"></ng-icon>
        </div>
      </div>
      <div class="font-semibold text-sm mt-2">Music Generation</div>

    </div>
    <div [routerLink]="['/app/code']"  
      class="rounded-lg border bg-card text-card-foreground shadow-sm p-4 border-black/5 flex flex-col items-center justify-between hover:shadow-md transition cursor-pointer bg-white/60"
    >
      <div class="flex items-center gap-x-4">
        <div
          class="p-6 w-fit rounded-md bg-black/10 flex justify-center items-center"
        >
          <ng-icon size="36" name="heroCodeBracket"></ng-icon>
        </div>
      </div>
      <div class="font-semibold text-sm mt-2">Code Generation</div>

    </div>
    <div [routerLink]="['/app/settings']"  
      class="rounded-lg border bg-card text-card-foreground shadow-sm p-4 border-black/5 flex flex-col items-center justify-between hover:shadow-md transition cursor-pointer bg-white/60"
    >
      <div class="flex items-center gap-x-4">
        <div
          class="p-6 w-fit rounded-md bg-black/10 flex justify-center items-center"
        >
          <ng-icon size="36" name="heroCog6Tooth"></ng-icon>
        </div>
      </div>
      <div class="font-semibold text-sm mt-2">Settings</div>

    </div>
  </div>
</div>
